@import '~bootstrap/dist/css/bootstrap.min.css';

body {
	min-height: 75rem;
	padding-top: 4.5rem;
}

.nav-icon {
	height: 1.0em;
}

.nav-link {
	cursor: pointer;
}

.jumbotron {
	background: url("/images/corpjuridicoint-logo.png") no-repeat left center;
}